@import '../bower_components/fontawesome/scss/_variables';
@import '../bower_components/fontawesome/scss/_path';
@import '../bower_components/fontawesome/scss/_mixins';

@import url(https://use.fonticons.com/kits/4d2e7f35/4d2e7f35.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,800,400italic);

@import '../bower_components/paint/styles/core';

@import 'paint-settings';

@import '../bower_components/paint/styles/tools';
@import '../bower_components/paint/styles/global';
@import '../bower_components/paint/styles/components';
