$playground-font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
$font: (
  family: $playground-font-family,
  size: (
    base: 20px
  ),

  weight: (
    base: 400,
    bold: 600,
    extrabold: 800
  ),

  heading: (
    family: $playground-font-family
  )
);
