$playground-font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
$font: (
  family: $playground-font-family,
  size: (
    base: 20px
  ),

  weight: (
    base: 400,
    bold: 600,
    extrabold: 800
  ),

  heading: (
    family: $playground-font-family
  )
);

$label: (
  style: (
    cleared: #70c0f2,
    available: #e5c95d,
    interested: #4ba59b,
    pending: #eb5851
  )
);
